{% extends "base.html" %}

{% block title %}
Js Demo
{% endblock %}

{% block content %}
<h1>JS DEMO</h1>

<div id="messaggio"></div>

<h2>Lista studenti</h2>
<ul id="lista-studenti">
</ul>
<!-- <button id="bottone-carica">Carica studenti</button> -->

<h2> Aggiungi studente</h2>
<input type="text" id="nome_studente" placeholder="Inersici Nome" required>
<input type="text" id="classe_studente" placeholder="Classe" required>
<button id="bottone-aggiungi">Aggiungi studente</button>




{% endblock %}